* {
	margin: 0;
	padding: 0;
}
body{
	font-family: "Roboto", sans-serif;
}
ul, ol{
	list-style: none;
}
hr{
	margin-top: 10px;
}
.page {
	padding: 30px 20px;
}
.page__title{
	margin: 15px 0;
}
.task-list__item{
	padding: 10px 5px;
}
.task-list__title{
	display: inline-block;
	margin: 10px;
}
.task-list__button{
	font-size: 16px;
	height: 25px;
	padding: 0 10px;
	transition: all 0.4s ease;
}
.task-list__button:hover{
	box-shadow: 1px 1px 15px 1px rgba(47, 74, 220, 0.75);
	cursor: pointer;
}
.task-list__text{
	padding-left: 15px;
}

.clock{
	display: inline-block;
	min-height: 34px;
	padding: 5px 10px;
	margin: 0 30px;
	font-size: 48px;
	line-height: 48px;
	transition: all 0.4s ease;
	background-color: rgb(119,122,77);
	background: -webkit-linear-gradient(-45deg, 
		rgb(119,122,77) 25%,
		rgb(88,92,42) 25%, 
		rgb(88,92,42) 50%, 
		rgb(119,122,77) 50%, 
		rgb(119,122,77) 75%, 
		rgb(88,92,42) 75%);
	background-size: 4px 4px;
	color: transparent;
	letter-spacing: 0.05em;
	text-shadow:
		0 1px 5px rgb(88,92,42),
		0 -1px 0 rgba(0,0,0,1),
		0 -3px 0 rgba(0,0,0,0.45),
		0 1px 0 rgba(255,255,255,0.5),
		0 2px 2px rgba(255,255,255,0.2);
}
.clock:hover{
	cursor: pointer;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.75);
}
.code-wrap{
	padding: 20px 30px;
	background-color: rgb(245, 242, 240);
}
.text--blue{
	color: blue;
}
.text--brown{
	color: brown;
}
.text--red{
	color: red;
}
.text--green{
	color: green;
}

.apology{
	color: red;
	padding-left: 35px;
}